body{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Yeseva One', cursive;
}

h1{
    font-size: 60px;
    font-weight: 400;
}

h2{
    font-family: 'Poppins', sans-serif; 
}

p{
   font-family: 'Poppins', sans-serif; 
   font-size: 18px;
}

.flexible-button{
    background-color: #FF5959;
    padding: 15px 40px;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 16px; 
    cursor: pointer;
}

#border-left{
    border-left: 5px solid #FF5959 ;
}

.scroll-down{
    margin-top: 90px;
}

.top-banner{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;;
}

.half-width{
    width: 50%;
    margin-left: 15%;
}

.top-image{
    width: 100%;
}

.mission-heading{
    text-align: center;
    margin-top: 100px;
}
.color-mission{
    color: #FFAD5A;
    font-size: 60px;
}

.div-img{
    width: 50%;
}

.all-mission{
    display:flex;
    justify-content: space-around;
}

.mission{
    width: 380px;
    height: 380px;
    background-color: #E1E1E1;
    border-radius: 20px;
    padding: 20px;
    margin-left: 160px;
}
.vision{
    width: 400px;
    height: 400px;
    background-color: #FFEEEE;
    border-radius: 20px;
    padding:10px;
}
.goals{
    width: 400px;
    height: 400px;
    background-color: #FFF4D6;
    border-radius: 20px;
    padding:10px;
    margin-right: 160px;
}

.third-section{
    width:80%;
    display: flex;
    justify-content:space-center;
    margin-top: 150px;
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x:7%;
}
.develop-image{
    width:50%;
    margin-left: 210px;
}

.develop-text{
    font-size: 36px;
    font-weight: bolder;
}

.fourth-section{
    width:80%;
    display: flex;
    justify-content:space-center;
    margin-top: 150px;
    margin-bottom: 100px;
     
}

.half-portion-top{
    margin-left: 210px;
}

.develop-image-down{
    width: 60%;
    margin-left: 260px;
}

.all-work{
    width:80%;
    height: 400px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 100px;
}

.indent{
    margin-left: 300px;
}

.mobile-app-image{
    width:80%;
    margin-left: 210px
}


.mobile-app-text{
    font-size: 40px;
}

.mobile-text-color{
    color:#FFAD5A;
}

footer{
    text-align: center;
    background-color: black;
    height:200px;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.footer-text{
    color: #E15051;
}

.footer-heading{
    font-family: 'Lobster', cursive;
    color: white;
}

.footer-paragraph{
    color: white;
}

 
